:host{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.control-pane{
    display: flex;
    margin-bottom: 40px;
    flex: 1;
    justify-content: center;
    padding: 10px;
}

.bottom-button{
    padding-left: 5px;
    padding-right: 5px;
}

.bottom-button-bar-right-group{
    margin-left: auto;
}