<mat-drawer-container class="drawer-container">
    <mat-drawer class="drawer" #drawer mode="over" position="end">
        <button mat-button class="drawer-close-button-container burger-menu-button">
            <mat-icon class="drawer-close-button" (click)="drawer.toggle()">close</mat-icon>
        </button>
        <button mat-button class="burger-menu-button" (click)="toggleTheme()">{{modeText}}</button>
        <button mat-button class="logout-button burger-menu-button" *ngIf="!isSignedOut" (click)="logout();drawer.toggle()">
            Sign Out
        </button>
        <span class="sign-in-up-container">
            <wl-login-button class="sign-in-out-button" *ngIf="isSignedOut" (click)="drawer.toggle()"></wl-login-button>
            <button *ngIf="isSignedOut" mat-button class="sign-in-out-button burger-menu-button" routerLink="/sign-up">
                Sign Up
            </button>
        </span>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
        <mat-toolbar color="primary">
            <button mat-button routerLink="/home">
                <mat-icon class="home-button">home</mat-icon>
            </button>
            <button *ngIf="!isSignedOut" mat-button routerLink="/file-converter">
                File Converter
            </button>

            <button *ngIf="isSignedOut" mat-button class="sign-up-button right-button" routerLink="/sign-up">
                Sign Up
            </button>
            <button mat-button [ngClass]="{'right-button': !isSignedOut}" (click)="drawer.toggle()">
                <mat-icon class="burger-menu">menu</mat-icon>
            </button>
        </mat-toolbar>
        <div class="content mat-app-background">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>