[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
bcrypt = "*"
dateutils = "*"
sanic = "*"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.8"
