/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();
$angular-primary: mat-palette($mat-blue, 500, 100, 900);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);

$angular-default-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include angular-material-theme($angular-default-theme);

$angular-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
.darkMode {
  @include angular-material-color($angular-dark-theme);
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.drop-hover{
    opacity: 50%;
}

.burger-menu-button{
  border: none;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px #686666 solid !important;
}