:host{
    line-height: 50px;
    height:50px;
    max-height: 50px;
    display: flex;
    flex: 1;
    padding: 5px;
    font-size: x-large;
    font-weight: 800;
}

.text-container{
    margin: 5px;
}